@CHARSET "ISO-8859-1";

#iteminfo{
	position: absolute;
	width: 260px;
	display: block;
	border: 1px solid black;
	/*border-radius: 20%;*/
	background: url(newlay/images/trans_background.png) repeat;
	padding: 10px;
}

#iteminfo h3{
	color: #42cb38;
	font-weight: bold;
	font-size: 16px;
	margin-bottom: 8px;
}

#iteminfo h3 span{
	color: #42cb38;
	font-size: 8px;
	margin-top: -2px;
}

#iteminfo p{
	color: #42cb38;
	font-size: 10px;
	margin-top: 3px;
	font-weight: bold;
}

#iteminfo p.small{
	font-weight: normal;
}

#iteminfo p.spaced{
	margin-top: 6px;
	margin-bottom: 4px;
	font-size: 12px;
}

span.requestItemInfo{
	color: #EFECCA;
	font-weight: bold;
}

span.requestItemInfo:hover{
	text-decoration: underline;
	cursor: pointer;
}

.notHasAchiev{
	color: #7e7e7e;
	font-size: 9px;
}

.hasAchiev{
	font-size: 11px;
	text-align: justify;
	display: block;
}

.gotAchiev{
	font-size: 9px;
	display: block;
	text-align: right;
	margin-top: 4px;
}

.hasAchiev .achievTitle{
	font-size: 14px;
	font-weight: bold;
	display: block;
}

#new-title-bar{
	background: #333 url(newlay/images/new_title_bg.jpg) no-repeat;
	height: 55px;
	display: block;
}

#new-title {
	text-decoration: none;
	padding-left: 8px;
	padding-top: 9px;
	border: 0px;
	display: block;
	font-size: 16px;
}

#infos-line{
	padding-left: 14px;
}

#new-comments{
	background: url(newlay/images/icon_comment.gif) no-repeat;
	padding-left: 18px;
}

#new-comments:hover{
	text-decoration: none;
	color: #57584d;
}

#new-summary {
	padding-top: 10px;
	padding-left: 8px;
	padding-right: 8px;
	margin-bottom: 30px;
}

.afkPlayer{
	color: #efeee3;
	font-style: italic;
	font-weight: normal;
}

.cortado{
  text-decoration: line-through;
  color: #cfcfcf;
}
.promocao{
  font-weight: bold;
  font-size: 8px;
  color: #00c320;
}

#notify{
	margin-left: 8px;
	padding-left: 19px;
	font-weight: bold;
	color: red;
	background: url(newlay/images/icon_right.png) -15px no-repeat;
	line-height: 23px;
	display: inline-block;
}

#notify-correct{
	background: url(newlay/images/icon_right.png) no-repeat;
	width: 15px;
	height: 23px;
	vertical-align: middle;
	display: inline-block;
	margin-left: 8px;
}

#notify-loading {
	background: url(newlay/images/icon_loading.gif) no-repeat;
	width: 15px;
	height: 23px;
	vertical-align: middle;
	display: inline-block;
	margin-left: 8px;	
}

fieldset{
}	

fieldset label {
	display: block;
	font-weight: bold;
	margin-top: 10px;
	line-height: 30px;
	vertical-align: middle;
}

fieldset label input{
	vertical-align: middle;
}

fieldset input {
	background: #333 url(newlay/images/subitem.jpg) repeat-x;
	border: 1px solid #000;
	border-bottom: 1px solid #666;
	border-right: 1px solid #666;
	color: #FFF;
	font: normal 11px Verdana, sans-serif;
	margin-top: 4px;
	padding: 4px;
	width: auto;
	border-collapse:collapse; 
	height: 22px;
}

#login fieldset label, #login p, #games-box fieldset label{
	margin-top: 5px;
	line-height: 8px;
	font-size: 6.5pt;
	text-align: center;
}

#login fieldset input{
	height: 12px;
}

#games-box fieldset select{
	height: 18px;
	margin-left: 65px;
	margin-top: 5px;
}

#login fieldset .button{
	display: inline-block;
	margin-top: 0px;
	height: 20px;
	width: 30px;
	font-size: 5pt;
}

fieldset textarea{
	background: #333;
	border: 1px solid #000;
	border-bottom: 1px solid #666;
	border-right: 1px solid #666;
	color: #FFF;
	font: normal 11px Verdana, sans-serif;
	margin-top: 4px;
	padding: 4px;
	width: auto;	
	
}

fieldset select {
	background: #333;
	border: 1px solid #000;
	border-bottom: 1px solid #666;
	border-right: 1px solid #666;
	color: #FFF;
	font: normal 12px Verdana, sans-serif;
	margin-top: 3px;
	height: 20px;
}

fieldset select option{
	background: #333 url(newlay/images/subitem.jpg) repeat-x;
}

.long-margin-top {
	margin-top: 25px;
}

.long-margin-bottom {
	margin-bottom: 25px;
}

.button {
	border: 1px solid #666;
	border-bottom: 1px solid #000;
	border-right: 1px solid #000;
	margin: 0;
	width: 60px;
	display: block;
	margin-top: 6px;
}

.button:hover {
	cursor: pointer;
	background: #333 url(newlay/images/subitem_over.jpg) repeat-x;
}

.buttonstd {
	border: 1px solid #666;
	border-bottom: 1px solid #000;
	border-right: 1px solid #000;
	color: #FFF;
	font: normal 11px Verdana, sans-serif;
	display: inline-block;
	line-height: 25px;
	background: #333 url(newlay/images/subitem.jpg) repeat-x;
	padding-left: 4px;
	padding-right: 4px;
	margin-top: 5px;
	margin-bottom: 5px;
	min-width: 65px;
	text-align: center;
}

.buttonstd:hover{
	background: #333 url(newlay/images/subitem_over.jpg) repeat-x;
	text-decoration: none;
	font-weight: normal;
	cursor: pointer;
}

#msgbox{
	border: 1px solid #666;
	border-bottom: 1px solid #000;
	border-right: 1px solid #000;
	
	background: #333 url(newlay/images/subitem.jpg) repeat;
	margin: 0 auto;
	margin-top: 12px;
	width: 400px;	
}

#msgbox p{		
	text-align: center;	
	color: #d7c6c6;
}

table {	
	margin: 0 auto;
	margin-top: 15px;
	width: 100%;
}

table tr th, table tr .header {
	background: #333 url(newlay/images/item_silver.jpg) repeat-x;
	padding: 6px;
	
	border: 1px solid #6F6F6F;
	border-bottom: 1px solid #000000;
	border-right: 1px solid #000000;
	
	text-align: left;	
}

table tr td {
	padding: 6px;
	
	border: 1px solid #8D8D8D;
	border-bottom: 1px solid #000000;
	border-right: 1px solid #000000;
	
	text-align: left;	
}

table tr td strong{
	font-weight: bold;
}

.tooglePlus{
	cursor: pointer;
	width: 12px;
	height: 12px;
	background: url(newlay/images/down.gif) no-repeat;
	float: right;
}

.toogleMinus{
	cursor: pointer;
	width: 12px;
	height: 12px;
	background: url(newlay/images/up.gif) no-repeat;
	float: right;
}

.pvpEnabled{
	font-weight: bold;
	color: #c12424;
}

.pvpDisabled{
	font-weight: bold;
	color: #00c5d7;
}