@CHARSET "ISO-8859-1";

.afkPlayer{
	color: #efeee3;
	font-style: italic;
	font-weight: normal;
}

.cortado{
  text-decoration: line-through;
  color: #cfcfcf;
}
.promocao{
  font-weight: bold;
  color: #00c320;
}

fieldset{
}	

fieldset label {
	display: block;
	font-weight: bold;
	margin-top: 10px;
}

fieldset input {
	background: #333 url(newlay/images/subitem.jpg) repeat-x;
	border: 1px solid #000;
	border-bottom: 1px solid #666;
	border-right: 1px solid #666;
	color: #FFF;
	font: normal 11px Verdana, sans-serif;
	margin-top: 4px;
	padding: 4px;
	width: auto;
	border-collapse:collapse; 
}

fieldset textarea{
	background: #333;
	border: 1px solid #000;
	border-bottom: 1px solid #666;
	border-right: 1px solid #666;
	color: #FFF;
	font: normal 11px Verdana, sans-serif;
	margin-top: 4px;
	padding: 4px;
	width: auto;	
	
}

fieldset select {
	background: #333;
	border: 1px solid #000;
	border-bottom: 1px solid #666;
	border-right: 1px solid #666;
	color: #FFF;
	font: normal 12px Verdana, sans-serif;
}

fieldset select option{
	background: #333 url(newlay/images/subitem.jpg) repeat-x;
}

.button {
	border: 1px solid #666;
	border-bottom: 1px solid #000;
	border-right: 1px solid #000;
	margin: 0;
	width: 60px;
}

.button:hover {
	cursor: pointer;
}

.buttonstd {
	margin-top: 12px;
	background: #333 url(newlay/images/subitem.jpg) repeat-x;
	border: 1px solid #666;
	border-bottom: 1px solid #000;
	border-right: 1px solid #000;
	color: #FFF;
	font: normal 11px Verdana, sans-serif;
	width: auto;
	padding: 7px;	
}

.buttonstd:hover{
	text-decoration: none;
	font-weight: normal;
	cursor: default;
}

.buttonstd:active{
	padding: -1px;
	border: 1px solid #000;
	border-bottom: 2px solid #000;
	border-right: 2px solid #000;
}

#msgbox{
	border: 1px solid #666;
	border-bottom: 1px solid #000;
	border-right: 1px solid #000;
	
	background: #333 url(newlay/images/subitem.jpg) repeat;
	margin: 0 auto;
	margin-top: 12px;
	width: 400px;	
}

#msgbox p{		
	text-align: center;	
	color: #d7c6c6;
}

table {	
	margin: 0 auto;
	margin-top: 15px;
	width: 100%;
}

table tr th, table tr .header {
	background: #333 url(newlay/images/item.jpg) repeat-x;
	padding: 6px;
	
	border: 1px solid #666;
	border-bottom: 1px solid #000;
	border-right: 1px solid #000;
	
	text-align: left;	
}

table tr td {
	padding: 6px;
	
	border: 1px solid #000;
	border-bottom: 1px solid #666;
	border-right: 1px solid #666;
	
	text-align: left;	
}

table tr td strong{
	font-weight: bold;
	color: #d6e1e0;	
}

.tooglePlus{
	cursor: pointer;
	width: 12px;
	height: 12px;
	background: url(newlay/images/down.gif) no-repeat;
	float: right;
}

.toogleMinus{
	cursor: pointer;
	width: 12px;
	height: 12px;
	background: url(newlay/images/up.gif) no-repeat;
	float: right;
}